:root{
    --backgroundcol: #0C1828;
    --backgroundtranscol: rgba(12,24,40,0.5);
    --backgroundtranscol2: rgba(12,24,40,0.2);
    --backgroundtranscol3: rgba(12,24,40,0.3);
    --backgroundtranscol35: rgba(12,24,40,0.35);
    --backgroundtranscol9: rgba(12,24,40,0.9);
    --foregroundcol: #c2c5c9;
    --colors1: #88494d;
    --colors2: #a35c57;
    --colors3: #9d6154;
    --colors4: #b7997b;
    --colors5: #478084;
    --colors6: #559b9f;
    --colors7: #c2c5c9;
    --colors8: #5f6774;
    --colors9: #88494d;
    --colors10: #a35c57;
    --colors11: #9d6154;
    --colors12: #b7997b;
    --colors13: #478084;
    --colors14: #559b9f;
    --colors15: #c2c5c9;
    --colors9trans5: rgba(136,73,77,0.5);
    --colors10trans15: rgba(163,92,87,0.15);
    --colors11trans5: rgba(157,97,84,0.5);
    --colors12trans3: rgba(183,153,123,0.3);
    --colors13trans7: rgba(71,128,132,0.7);
    --colors14trans5: rgba(85,155,159,0.5);
    --colors15trans9: rgba(194,197,201,0.9);
}
/*
    colors1=colors9  
    colors2=colors10 
    colors3=colors11 
    colors4=colors12 
    colors5=colors13 
    colors6=colors14 
    colors7=colors15=foregroundcol         
    colors8                                

    --backgroundtranscol35
    --colors10trans15 (colors2)            Hover

    Nothing
        --colors11trans5
        --colors15trans9
*/
* {
    font-size: 18px;
    color: var(--backgroundcol);
    font-weight: 500;
    font-family: "JetBrainsMono NFP";
    margin: 0;
    padding: 0;

}
.yasb-bar {
    /* height: 43  (Config.yaml) */
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px;
    background-color: var(--backgroundcol);
}
.widget {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: var(--colors1);
}

.widget .icon {
    color: var(--backgroundcol);
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
}
.widget .label {
    color: var(--backgroundcol);
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
}
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
.traffic-widget {}
.traffic-widget .icon {}
.traffic-widget .label {}
/* ------------------------------------------------------------------- */
.wifi-widget {
    background-color: var(--colors2);
}
.wifi-widget .icon {}
.wifi-widget .label {}
/* ------------------------------------------------------------------- */
.cpu-widget {
    background-color: var(--colors3);
}
/* ------------------------------------------------------------------- */
.power-menu-widget {
    background-color: var(--colors4);
}
.power-menu-widget .label {
    font-weight: bold;
    font-size: 20px;
}
/*POWER MENU POPUP*/
.uptime {
    color: var(--foregroundcol);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 860px;
}
.power-menu-popup {
    background-color: var(--backgroundtranscol);
    border-radius: 12px;
}
.power-menu-popup .button {
    padding: 0;
    width: 180px;
    height: 230px;
    border-radius: 8px;
    background-color: var(--backgroundtranscol);
    color: var(--foregroundcol);
    border: 8px solid #1b1925;
    margin: 0px;
}
.power-menu-popup .button .icon {
    font-size: 64px;
    padding-top: 32px;
    color: var(--colors4);
}
.power-menu-popup .button.hover {
    background-color: var(--colors12trans3);
}
.power-menu-popup .button .label {
    color: var(--colors4);
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
}
.power-menu-popup .button.cancel {
    height: 46px;
    border-radius: 4px;
    border: none;
    background-color: var(--backgroundtranscol);
}
.power-menu-popup .button.cancel .icon {
    padding: 0;
    margin: 0;
}
.power-menu-popup .button.cancel .label {
    margin: 0;
    color: var(--colors3);
}
.power-menu-popup .button.cancel:hover {
    background-color: var(--colors12trans3);
}
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
.whkd-widget {
    background-color: var(--colors2);
}
.whkd-widget .icon {}
.whkd-popup .edit-config-button {
    background-color:var(--colors2);
    color: #ffffff;
    padding: 4px 8px 6px 8px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    font-family: 'Segoe UI';
}

.whkd-popup .keybind-buttons-container {
    min-width: 240px;
}
.whkd-popup .keybind-button {
    background-color: var(--backgroundcol);
    color: white;
    padding: 4px 8px 6px 8px;
    font-size: 14px;
    font-weight: 600;
    border: 1px inset #4f5055;
    border-bottom: 2px inset #4f5055;
    border-radius: 4px;
    font-family: 'JetBrainsMono NFP';
}
.whkd-popup .keybind-button.special {
    background-color: #343538;
}
.whkd-popup .keybind-row:hover{
    background-color: rgba(136, 138, 155, 0.2);
    border-radius: 8px;
}
.whkd-popup .plus-separator {
    padding: 0 0px;
    border:none;
    font-size: 16px;
    font-weight: bold;
    background-color:transparent
}
.whkd-popup .filter-input {
    padding: 0 8px 2px 8px;
    font-size: 14px;
    font-family: 'Segoe UI';
    border: 1px solid #2e2e2e;
    border-radius: 4px;
    outline: none;
    color: white;
    background-color: var(--backgroundtranscol);
    min-height: 32px;
}
.whkd-popup .filter-input:focus {
    border: 1px solid var(--colors2);
}
.whkd-popup .keybind-command {
    font-size: 14px;
}
.whkd-popup .keybind-header {
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 8px 0;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}
/* ------------------------------------------------------------------- */
.komorebi-control-widget {
    background-color: var(--colors3);
}
.komorebi-control-widget .label {}

.komorebi-control-menu {
    background-color: var(--backgroundtranscol);
}
.komorebi-control-menu .button {
    color: var(--colors3);
    padding: 8px 16px;
    font-size: 32px;
    border-radius: 8px;
    background-color: var(--backgroundtranscol);
}
.komorebi-control-menu .button.active {
    color: var(--foregroundcol);
    background-color: var(--colors11trans5);
}
.komorebi-control-menu .button:disabled{
    background-color: var(--backgroundtranscol);
    color: var(--colors12trans3);
}
.komorebi-control-menu .button.active:disabled {
    background-color: var(--backgroundtranscol);
    color: var(--colors13trans7);
}
.komorebi-control-menu .footer .text {
    font-size: 18px;
    color: var(--foregroundcol);
}
/* ------------------------------------------------------------------- */
/* KOMOREBI Active Layout */
.komorebi-active-layout {
    background-color: var(--colors1);
}
.komorebi-active-layout .label {}
/* KOMOREBI Active Layout Menu */
.komorebi-layout-menu {
    background-color: var(--backgroundcol)
}
.komorebi-layout-menu .menu-item {
    padding: 8px 16px;
    font-size: 12px;
    color: var(--colors1); 
    font-weight: 600;
}
.komorebi-layout-menu .menu-item-icon {
    color: var(--colors1);
    font-size: 16px;
}
.komorebi-layout-menu .menu-item-text {
    font-family: 'Segoe UI';
    padding-left:4px;
    font-size: 12px;
} 
.komorebi-layout-menu .menu-item:hover {
    background-color:rgba(128, 130, 158, 0.15);
    color: #fff;
} 
.komorebi-layout-menu .separator {
    max-height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
}
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
.apps-widget {
    background-color:var(--colors5);
}
.apps-widget .label {}
.apps-widget .label:hover {}
/* ------------------------------------------------------------------- */
.weather-widget {
    background-color:var(--colors6);
}
.weather-widget .icon {
    font-size: 20px;
    font-weight: 700;
}
.weather-widget .label {}

/* Weather card style */
.weather-card {
    color: var(--colors6);
    background-color: var(--backgroundtranscol);
}
.weather-card-today {
    border: 1px solid #282936;
    border-radius: 8px;
    background-color:  var(--backgroundtranscol);
}
.weather-card-today .label {
    color: var(--colors6);
    font-size: 18px;
}
.weather-card-today .label.location {
    font-size: 28px;
    font-weight: 700;
    color: var(--colors5);
}
.weather-card-today .label.arert {
    font-size: 18px;
    font-weight: 700;
    background-color: var(--colors1);
    border: 1px solid rgba(247, 209, 42, 0.1);
    border-radius: 6px;
    padding: 5px 0;
}
.weather-card-day {
    border: 1px solid #45475a;
    border-radius: 8px;
    background-color:  var(--backgroundtranscol);
}
.weather-card-day .label {
    font-size: 18px;
    color: var(--colors7);
}
/* ------------------------------------------------------------------- */
.clock-widget {
    background-color: var(--colors7);
}
.clock-widget .icon {
    font-size: 20px;
    font-weight: 700;
}
.clock-widget .label {}

.calendar {
    background-color: var(--backgroundtranscol)
}
.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: var(--backgroundtranscol);
    color: var(--colors6);
    font-family: 'Segoe UI', Tahoma, Verdana;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;  
}
.calendar .calendar-table::item:selected {
    color: var(--foregroundcol);
    font-weight: 900;
    border-radius: 8px;
    background-color: var(--blue);
}
.calendar .day-label {
    margin-top: 20px;
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    font-family: 'Segoe UI', Tahoma, Verdana;
    font-size: 20px;
    color: var(--colors7);
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}
.calendar .month-label {
    font-size: 32px;
    font-weight: normal;
    color: var(--colors6);
}
.calendar .date-label {
    font-size: 70px;
    font-weight: 900;
    color: var(--colors5);
    margin-top: -20px;
}
/* ------------------------------------------------------------------- */
.taskbar-widget {
    background-color: transparent;
}
.taskbar-widget .app-icon {
    background-color: transparent;
    padding-left: 10px;
    padding-right: 5px;
}
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
.brightness-widget  {
    background-color:var(--colors8);
}   
.brightness-widget .icon {}

.brightness-menu {
    background-color:var(--backgroundtranscol);
}
.brightness-slider {
    border: none;
}
/* ------------------------------------------------------------------- */
.notes-widget {
    background-color: var(--colors9);
}
.notes-widget .label {}
.notes-widget .icon {
    background-color: var(--colors9);
    color: var(--backgroundcol);
    font-weight: 900;
    padding-right: 0px;
    padding-left: 5px;
    margin: 0px;
}
/* Notes Widget Menu */
.notes-menu {
    min-width: 400px;
    max-width: 400px;
    min-height: auto;
}
.notes-menu .note-item {
    background-color:transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.notes-menu .note-item:hover {
    background-color: var(--colors10trans15);
}
.notes-menu .note-item .icon {
    color: var(--colors9);
    font-size: 16px;
    padding: 0 4px;
}
.notes-menu .delete-button {
    color: var(--foregroundcol);
    background: transparent;
    border: none;
    font-size: 8px;
    padding: 7px 8px;
    border-radius: 3px;
}
.notes-menu .delete-button:hover {
    background-color: var(--colors10trans15);
}
.notes-menu .copy-button {
    color: var(--colors8);
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 3px;
}
.notes-menu .copy-button:hover {
    background-color: var(--colors10trans15);
}
.notes-menu .copy-button:pressed {
    color: #ffffff;
}
.notes-menu .note-item .title {
    color: var(--foregroundcol);
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Verdana;
}
.notes-menu .note-item .date {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Verdana;
    color: var(--colors9);
}
.notes-menu .empty-list {
    font-family: 'Segoe UI', Tahoma, Verdana;
    color: rgba(255, 255, 255, 0.2);
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0 20px 0;     
}
.notes-menu .add-button {
    padding: 10px;
    background-color: var(--colors9);
    border: none;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Verdana;
    color: var(--foregroundcol);
}
.notes-menu .cancel-button {
    padding: 10px;
    background-color: var(--backgroundtranscol);
    border: none;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Verdana;
    margin-left: 4px;
    color: var(--foregroundcol);
}
.notes-menu .add-button:hover,
.notes-menu .cancel-button:hover {
    background-color:  var(--colors10trans15);
}
.notes-menu .scroll-area {
    background: transparent; 
    border: none; 
    border-radius:0;
}
.notes-menu .note-input {
    color: var(--foregroundcol);
    background-color:var(--backgroundtranscol);
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-family: 'Segoe UI', Tahoma, Verdana;
    font-size: 19px;
    max-height: 56px;
    padding: 4px;
    border-radius: 6px;
}
.note-input:focus {
    border: 1px solid var(--colors9);
}
/* ------------------------------------------------------------------- */
.media-widget {
    background-color:var(--backgroundtranscol);
}
.media-widget .widget-container {}
.media-widget .label {
	color: var(--colors10);
    background-color: transparent;
	font-size: 17px;
    font-weight: 700;
    margin: 2px;
    margin-right: 0px;
    margin-left: 0px;
}
.media-widget .btn {
	color: var(--colors10);
    background-color:transparent;
	padding:0;
	margin: 0;
    font-size: 18px;
}
.media-widget .btn:hover {
	color: #ffffff;
}
.media-widget .btn.play {
	font-size: 18px;
}
.media-widget .btn.prev {
    padding: 0 8px
}
.media-widget .btn.next {
    padding: 0 8px
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
	color: var(--colors10trans15);
}

.media-menu {
    min-height: 180px;
    min-width: 420px;
    max-width: 420px;
    background-color: var(--backgroundtranscol);
}
.media-menu .title,
.media-menu .artist,
.media-menu .source {
    color: var(--colors10);
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Verdana;
}
.media-menu .artist {
    font-weight: 800;
    color: var(--colors8);
    margin-top: 0px;
    margin-bottom: 8px;
}
.media-menu .source {
    font-size: 14px;
    color: var(--colors9);
    font-weight: normal;
    border-radius: 3px;
    background-color: var(--colors4);
    padding: 2px 4px;
}
/* The source class name is the same as what you see in the media widget; just replace spaces with dashes and convert it to lowercase. 
Example: "Windows Media" becomes "windows-media" */
.media-menu .source.firefox {
    background-color: #ff583b;
    color: #ffffff;
}
.media-menu .source.spotify {
    background-color: #199143;
    color: #ffffff;
}
.media-menu .source.edge {
    background-color: #0078d4;
    color: #ffffff;
}
.media-menu .source.windows-media {
    background-color: #0078d4;
    color: #ffffff;
}
.media-menu .source.chrome {
    background-color: #8d8719;
    color: #ffffff;
}

.media-menu .btn {
    font-family: "Segoe Fluent Icons";
    font-size: 14px;
    font-weight: 600;
    margin: 14px 10px 0px 2px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 20px;
}
.media-menu .btn.prev {
    margin-left: 10px;
}
.media-menu .btn:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}
.media-menu .btn.play {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px
}
.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
    color: #4e525c;
    background-color: rgba(0, 0, 0, 0);
}

.media-menu .playback-time {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Verdana;
    color: var(--foregroundcol);
    margin-top: 20px;
    min-width: 100px;
}
.media-menu .progress-slider {
    height: 10px;
    margin: 5px 4px;
    border-radius: 3px;
}
.media-menu .progress-slider::groove {
    background: transparent;
    height: 2px;
    border-radius: 3px;
    background: var(--colors1);
}
.media-menu .progress-slider::groove:hover {
    background: transparent;
    height: 6px;
    border-radius: 3px;
    background: var(--colors1);
}
.media-menu .progress-slider::sub-page {
    background: var(--colors3);
    border-radius: 3px;
    height: 4px;
}
/* ------------------------------------------------------------------- */
.cava-widget {
    background: transparent;
    padding: 0px;
    padding-left: 6px;
    margin: 0px;
}
.cava-widget .widget-container {}
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */